#Pandas
- library for Data Analysis and Manipulation

#Why Pandas?
- provides ability to work with Tabular data.
- Tabular Data - data that is organized into tables having rows and columns

In [1]:
import pandas as pd

#Series
- Series is a one dimensional labelled array that can hold/store data

In [2]:
book_title = ['C++', 'Java', 'Python', 'JavaScript']

In [3]:
book_title = pd.Series(book_title)

In [4]:
print(book_title)

0           C++
1          Java
2        Python
3    JavaScript
dtype: object